<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Sign-up /title>
</head>
<body>
<div class ="container">
<h1>Signup</h1>
<form name="userSignup" action="index.html" onsubmit ="validateForm()" method="post">
    <label>Username</label>
    <input name="username" type="text"/><br><br>
    <label>Password</label>
    <input type="password" id="psw" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required><br><br>
    <label>Verify Password</label>
    <input name="verify_password" type="password"/><br><br>
    <input type="Submit" value ="Signup"/>
</form>
</div>
<div id="message">
    <h3>Password must contain the following:</h3>
    <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
    <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
    <p id="number" class="invalid">A <b>number</b></p>
    <p id="length" class="invalid">Minimum <b>8 characters</b></p>
</div>
</body>
</html>